# Зависимости
node_modules/

# Сборка
dist/
build/

# Логи
*.log
npm-debug.log*

# ОС
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Окружение
.env
.env.local
.env.*.local

# Vite
.vite/

# Тесты
coverage/

# PWA
sw.js
registerSW.js
workbox-*.js
manifest.webmanifest